
<div class="col-lg-8">
    <div class="portfolio-details-slider swiper">

        <div class="swiper-wrapper align-items-center">

            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/software/ssisYP1.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/software/ssyntm1.jpg" alt="">
            </div>

            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/software/ssisYP2.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/software/ssyntm2.jpg" alt="">
            </div>

            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/software/ssisYP3.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/software/ssyntm3.jpg" alt="">
            </div>

            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/software/ssisYP4.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/software/ssyntm4.jpg" alt="">
            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>
</div>

<div class="col-lg-4">
    <div class="portfolio-info">
        <h3>Proje bilgileri</h3>
        <ul>
            <li><strong>Kategori</strong>: Masaüstü uygulaması</li>
            <li><strong>Kullanıcı</strong>: Paycore</li>
            <li><strong>Proje Tarihi</strong>: 2022 </li>
            <li><strong>Proje URL</strong>: <a href="#">Şirket içi kullanım</a></li>
        </ul>
    </div>

    <div class="portfolio-description">
        <h2>SSIS Yönetim Paneli Detay</h2>
        <p>
            Uygulama .NET CORE ile geliştirilerek şirket içindeki tüm ETL/ELT paketlerinin kontrolü, tetiklenmesi, loglanması gibi tüm yönetimsel araçları içerir.
            Ayrıca, database deki session bilgilerini göstererek gerekli işlemleri yapmaya olanak sağlar.
        </p>
    </div>
</div>