
<div class="col-lg-8">
    <div class="portfolio-details-slider swiper">

        <div class="swiper-wrapper align-items-center">

            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/web/MarkaKafa1.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/web/MarkaKafaCode1.jpg" alt="">
            </div>

            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/web/MarkaKafa2.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/web/MarkaKafaCode2.jpg" alt="">
            </div>

            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/web/MarkaKafa3.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/web/MarkaKafaCode3.jpg" alt="">
            </div>

            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/web/MarkaKafa4.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/web/MarkaKafaCode4.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/web/MarkaKafaCode5.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/web/MarkaKafaCode6.jpg" alt="">
            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>
</div>

<div class="col-lg-4">
    <div class="portfolio-info">
        <h3>Proje bilgileri</h3>
        <ul>
            <li><strong>Kategori</strong>: Web Sitesi</li>
            <li><strong>Kullanıcı</strong>: Kişisel</li>
            <li><strong>Proje Tarihi</strong>: 2015 </li>
            <li><strong>Proje URL</strong>: <a href="www.markakafa.com">MarKa Kafa</a></li>
        </ul>
    </div>

    <div class="portfolio-description">
        <h2>MarKa Kafa Web Sitesi</h2>
        <p>
            Uygulama Ado.Net, .NetFramework ile geliştirilerek back-end tarafında html kodları ile zenginleştirilmiş komplex bir yapıda olan bir projedir. Database yapısı MSSQL alt yapısı ile kurulmuştur.
        </p>
    </div>
</div>
