

<div class="col-lg-8">
    <div class="portfolio-details-slider swiper">

        <div class="swiper-wrapper align-items-center">

            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/software/spy2.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/software/spy1.jpg" alt="">
            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>
</div>

<div class="col-lg-4">
    <div class="portfolio-info">
        <h3>Proje bilgileri</h3>
        <ul>
            <li><strong>Kategori</strong>: Web API</li>
            <li><strong>Kullanıcı</strong>: Paycore</li>
            <li><strong>Proje Tarihi</strong>: 2023 </li>
            <li><strong>Proje URL</strong>: <a href="#">Şirket içi kullanım</a></li>
        </ul>
    </div>

    <div class="portfolio-description">
        <h2>Özel Firma için Web Service</h2>
        <p>
            Uygulama .NetFramework alt yapısı ile geliştirilerek, kurumlar arası veri iletişimi gerçekleştirmek için yazılmıştır.
        </p>
    </div>
</div>
