
<div class="col-lg-8">
    <div class="portfolio-details-slider swiper">

        <div class="swiper-wrapper align-items-center">

            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/etl/ssis_tm_webapi.jpg" alt="">
            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>
</div>

<div class="col-lg-4">
    <div class="portfolio-info">
        <h3>Proje bilgileri</h3>
        <ul>
            <li><strong>Kategori</strong>: SSIS - ETL </li>
            <li><strong>Kullanıcı</strong>: Paycore</li>
            <li><strong>Proje Tarihi</strong>: 2022 </li>
            <li><strong>Proje URL</strong>: <a href="#">Şirket içi kullanım</a></li>
        </ul>
    </div>

    <div class="portfolio-description">
        <h2>SSIS ile Web Service Yönetimi</h2>
        <p>
            Uygulama SSIS alt yapısında geliştirilerek, içinde .NetFramework ile geliştirilen Web API dan veri transferi yapmaya olanak sağlar.
            Burada SSIS içinde foreach ile member id lerde dönerek 3 dakikada bir işlem yapar ve bu işlemleri ayrıca loglaması için temp tablolara kaydeder.
        </p>
    </div>
</div>
