

<div class="col-lg-8">
    <div class="portfolio-details-slider swiper">

        <div class="swiper-wrapper align-items-center">

            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/etl/ssis_daphne.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/etl/ssis_gnadrs.jpg" alt="">
            </div>

            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/etl/ssis_cagrimerkezi.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/etl/ssis_gnmstdaily.jpg" alt="">
            </div>

            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/etl/ssis_detoken.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/etl/ssis_pzrlmadepthedf.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/etl/ssis_ppg.jpg" alt="">
            </div>

            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/etl/ssis_fibaconv.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/etl/ssis_tm_webapi.jpg" alt="">
            </div>

            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/etl/ssis_kartinfo.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/etl/ssis_fibaconv1.jpg" alt="">
            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>
</div>

<div class="col-lg-4">
    <div class="portfolio-info">
        <h3>Proje bilgileri</h3>
        <ul>
            <li><strong>Kategori</strong>: SSIS - ETL</li>
            <li><strong>Kullanıcı</strong>: Tatilsepeti, Paycore</li>
            <li><strong>Proje Tarihi</strong>: 2017 - 2024 </li>
            <li><strong>Proje URL</strong>: <a href="#">Şirket içi kullanım</a></li>
        </ul>
    </div>

    <div class="portfolio-description">
        <h2>SSIS ile Geliştirilen Bazı ETL ler</h2>
        <p>
            <ul>
                <h5>SSIS içinde kullandığım componentlerden örnekler</h5>
                <br />
                <li>
                    Execute SQL Task, Foreach Loop Container, Script Task, Execute Process Task, Data Flow Task, Send Mail Task, File System Task, Expression Task, FTP Task, Sequence Container
                </li>
                <br />
                <li>
                    OleDb Source, OleDb Destination, ADO.NET Connection, ODBC Source (Oracle, PostgreSQL), ODBC Destination (Oracle, PostgreSQL), Flat File Source, Excel Source, Flat File Destination, Excel Destination
                </li>
                <br />
                <li>
                    Data Conversion, Merge Join, Aggregate, Slowly Dimenson Changing, Merge Into, Conditional Split, Unpivot, Pivot, Derived Column, Multicast, Sort, Lookup, Row Count, Union All
                </li>
            </ul>
        </p>
    </div>
</div>