<div class="col-lg-8">
    <div class="portfolio-details-slider swiper">

        <div class="swiper-wrapper align-items-center">

            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/sqlQuery/db_query1.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/sqlQuery/db_query2.jpg" alt="">
            </div>

            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/sqlQuery/db_query3.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/sqlQuery/db_query4.jpg" alt="">
            </div>

            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/sqlQuery/db_query5.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/sqlQuery/db_query_sybase.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/sqlQuery/db_ssis_kontrol.jpg" alt="">
            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>
</div>

<div class="col-lg-4">
    <div class="portfolio-info">
        <h3>Proje bilgileri</h3>
        <ul>
            <li><strong>Kategori</strong>: T-SQL & PL/SQL</li>
            <li><strong>Kullanıcı</strong>: Tatilsepeti, Ford, Paycore</li>
            <li><strong>Proje Tarihi</strong>: 2017 - 2024 </li>
            <li><strong>Proje URL</strong>: <a href="#">Şirket içi kullanım</a></li>
        </ul>
    </div>

    <div class="portfolio-description">
        <h2>Çeşitli SQL Sorguları</h2>
        <p>
            Firmaların DWH yönetimi için geliştirilen çeşitli sql sorguları yer alıyor.
            T-SQL yada PL/SQL sorgularından bir kaç örnektir. Ayrıca SQL içinde HTML kullanımları da mevcuttur.
        </p>
    </div>
</div>