
<div class="col-lg-8">
    <div class="portfolio-details-slider swiper">

        <div class="swiper-wrapper align-items-center">

            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/web/webHukuk1.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/web/webHukukCode1.jpg" alt="">
            </div>

        </div>

        <div class="swiper-pagination"></div>
    </div>
</div>

<div class="col-lg-4">
    <div class="portfolio-info">
        <h3>Proje bilgileri</h3>
        <ul>
            <li><strong>Kategori</strong>: Web Sitesi</li>
            <li><strong>Kullanıcı</strong>: Kişisel</li>
            <li><strong>Proje Tarihi</strong>: 2018 </li>
            <li><strong>Proje URL</strong>: <a href="https://www.karakulakhukuk.com" target="_blank">Karakulak Hukuk</a></li>
        </ul>
    </div>

    <div class="portfolio-description">
        <h2>Hukuk Web Sitesi</h2>
        <p>
            Uygulama bootstrap template ile hazırlanarak HTML yapısı ihtiyaca göre geliştirilmiştir.
            Avukatlık / Hukuk işlemleri yapılabilen kişisel bir web sitedir.
        </p>
    </div>
</div>

