

<div class="col-lg-8">
    <div class="portfolio-details-slider swiper">

        <div class="swiper-wrapper align-items-center">

            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/etl/ds/1.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/etl/ds/2.jpg" alt="">
            </div>

            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/etl/ds/3.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/etl/ds/4.jpg" alt="">
            </div>

            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/etl/ds/5.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/etl/ds/6.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/etl/ds/7.jpg" alt="">
            </div>

            <div class="swiper-slide">
                <img src="~/assets/img/portfolio/etl/ds/WorkFlow.jpg" alt="">
            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>
</div>

<div class="col-lg-4">
    <div class="portfolio-info">
        <h3>Proje bilgileri</h3>
        <ul>
            <li><strong>Kategori</strong>: Daata Services - ETL</li>
            <li><strong>Kullanıcı</strong>: Ford Otosan</li>
            <li><strong>Proje Tarihi</strong>: 2020 - 2021 </li>
            <li><strong>Proje URL</strong>: <a href="#">Şirket içi kullanım</a></li>
        </ul>
    </div>

    <div class="portfolio-description">
        <h2>DataServices ile Geliştirilen Bazı ETL ler</h2>
        <p>
            Oracle Database' inden veriler alınarak SYBASE data warehouse' una çeşitli data conversion lar yapılarak ETL/ ELT çalışmaları yapılmıştır.
        </p>
    </div>
</div>
